
{% extends 'base.html' %}

{% block content %}

<div id='message'>
<h3><b>2016 Fall On-board Survey Dashboard</b></h3>
</div>

<div id="index-content">
<ul style="list-style-type: none; font-size: medium;">
  <li style="margin-top: 20px;"><a href="{{ url_for('index') }}introduction"><b>Introduction</b></a></li>
  <li style="margin-top: 20px;"><a href="{{ url_for('index') }}data"><b>Data</b></a></li>
  <li style="margin-top: 20px;"><a href="{{ url_for('index') }}surveyors"><b>Surveyor</b></a></li>
  <li style="margin-top: 20px;"><a href="{{ url_for('index') }}results"><b>Results</b></a></li>
  <li style="margin-top: 20px;"><a href="{{ url_for('index') }}map"><b>Map</b></a></li>
</ul>
</div>
{% endblock %}