
{% extends 'base.html' %}

{% block content %}


<div id="control-section">
<!-- dropdowns that trigger ajax call to update table based on selection -->
<div id="map-select">
<div id="data-intro">
    <h4><b>Map Dashboard</b></h4>
    <p>Note: select route, direction, origin/destination, day of week, and time of day to view origin and destination data.</p>

</div>
<table height="100%">
  <tr id="menu-dd">
    <td style="padding-right:1em">
      <strong>Route:</strong>
    </td>
    <td>
      <div class="btn-group" role="form">
        <button id="line_btn" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        All    
        <span class="caret"></span>
        </button>
        <ul id="filter_line" class="dropdown-menu scrollable-menu" role="menu">
          <li role="presentation" class="dropdown-header">Route</li>
          <li role="presentation"><a href="#">All</a></li>
          <li role="presentation" class="divider"></li>
          {% for route in routes %}
          <li><a href="#" rte="{{route['rte']}}">{{ route["rte_desc"] }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </td>
    <td style="padding-left: 4em; padding-right: 1em">
      <strong>Day of Week:</strong>
    </td>
    <td>
      <div class="dropdown">
        <button id="day_btn" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Day of Week
        <span class="caret"></span></button>
        <ul id="filter_day" class="dropdown-menu scrollable-menu" role="menu">
          <li role="presentation" class="divider"></li>
            <li><a href="#">Weekday</a></li>
            <li><a href="#">Weekend</a></li>
            <li><a href="#">Saturday</a></li>
            <li><a href="#">Sunday</a></li>
        </ul>
      </div>
    </td>
    <td style="padding-left: 4em; padding-right: 1em">
      <strong>Origin:</strong>
    </td>
    <td>
      <div class="dropdown">
        <button id="origin_btn" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Origin Type
        <span class="caret"></span></button>
        <ul id="filter_origin" class="dropdown-menu scrollable-menu" role="menu">
          <li role="presentation" class="divider"></li>
            <li><a href="#">All</a></li>
            <li><a href="#">Home</a></li>
            <li><a href="#">Work</a></li>
            <li><a href="#">School</a></li>
            <li><a href="#">Recreation</a></li>
            <li><a href="#">Shopping</a></li>
            <li><a href="#">Personal business</a></li>
            <li><a href="#">Visit family/friends</a></li>
            <li><a href="#">Medical appointment</a></li>
            <li><a href="#">Other</a></li>
        </ul>
      </div>
    </td>
  </tr>
  <tr id="menu-dd">
  <td class="direction_cls" style="padding-right:1em; display:show">
    <strong>Direction:</strong>
  </td>
    <td class="direction_cls" style="display: show;">
      <div class="btn-group">
        <button id="dir_btn" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        All    
        <span class="caret"></span>
        </button>
        <ul id="filter_dir" class="dropdown-menu" role="menu">
          <li role="presentation" class="dropdown-header">Direction</li>
          <li role="presentation"><a href="#">All</a></li>
          <li role="presentation" class="divider"></li>
          <li><a href="#" id="inbound_link"></a></li>
          <li><a href="#" id="outbound_link"></a></li>
        </ul>
      </div>
    </td>
        <td style="padding-left: 4em; padding-right: 1em">
      <strong>Time of Day:</strong>
    </td>
    <td>
      <div class="dropdown">
        <button id="tod_btn" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Time of Day
        <span class="caret"></span></button>
        <ul id="filter_tod" class="dropdown-menu scrollable-menu" role="menu">
          <li role="presentation" class="divider"></li>
            <li><a href="#">All</a></li>
            <li><a href="#">Weekday Early AM</a></li>
            <li><a href="#">Weekday AM Peak</a></li>
            <li><a href="#">Weekday Midday</a></li>
            <li><a href="#">Weekday PM Peak</a></li>
            <li><a href="#">Weekday Night</a></li>
            <li><a href="#">Weekend Morning</a></li>
            <li><a href="#">Weekend Midday</a></li>
            <li><a href="#">Weekend Night</a></li>
        </ul>
      </div>
    </td>
    <td style="padding-left: 4em; padding-right: 1em">
      <strong>Destination:</strong>
    </td>
    <td>
      <div class="dropdown">
        <button id="dest_btn" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Destination Type
        <span class="caret"></span></button>
        <ul id="filter_dest" class="dropdown-menu scrollable-menu" role="menu">
          <li role="presentation" class="divider"></li>
            <li><a href="#">All</a></li>
            <li><a href="#">Home</a></li>
            <li><a href="#">Work</a></li>
            <li><a href="#">School</a></li>
            <li><a href="#">Recreation</a></li>
            <li><a href="#">Shopping</a></li>
            <li><a href="#">Personal business</a></li>
            <li><a href="#">Visit family/friends</a></li>
            <li><a href="#">Medical appointment</a></li>
            <li><a href="#">Other</a></li>
        </ul>
      </div>
    </td>
  </tr>
</table>
</div>
</div>


<!--<div id="map-view">

<label>Select a Map View</label>
<div class="ride-view">

<table class="fixed" width="100%">
  <col width="25%" />
  <col width="25%" />
  <col width="25%" />
  <col width="25%" />

  <tr>
    <td><input class = "mapview" type="radio" name="viewList" value="ride-more">Ride More</td>
    <td><input class = "mapview" type="radio" name="viewList" value="ride-less">Ride Less</td>
    <td><input class = "mapview" type="radio" name="viewList" value="ride-same">Ride Same</td>
    <td><input class = "mapview" type="radio" name="viewList" value="ride-same">All</td>
  </tr>

</table>
</div>


<div class="tod-view">
<label>Select Time of Day</label>

<table class="fixed" width="100%">
  <col width="20%" />
  <col width="20%" />
  <col width="20%" />
  <col width="20%" />
  <col width="20%" />

  <tr>
    <td><input class = "mapview" type="checkbox" name="viewList" value="early-am">Early AM</td>
    <td><input class = "mapview" type="checkbox" name="viewList" value="am-peak">AM Peak</td>
    <td><input class = "mapview" type="checkbox" name="viewList" value="mid-day">Midday</td>
    <td><input class = "mapview" type="checkbox" name="viewList" value="pm-peak">PM Peak</td>
    <td><input class = "mapview" type="checkbox" name="viewList" value="evening">Evening</td>
  </tr>

</table>

</div>


<div class="week-view">
<label>Select Day of Week</label>

<table class="fixed" width="400px">
  <col width="100px" />
  <col width="100px" />

  <tr>
    <td><input class = "checkweek" type="checkbox" name="vehicle" value="Weekday"> Weekday</td>
    <td><input class = "checkweek" type="checkbox" name="vehicle" value="Weekend" > Weekend</td>
  </tr>
</table>

</div>

</div> -->

<div id="mapid">
    
</div>

<script>
    //convert ordered directions data by rte and desc
    //into lookup object
    //{rte_desc:{0:<outbound dir_desc>, 1:<inbound dir_desc>}, ... }
    var directions = {{ directions|tojson|safe }};
    console.log(directions);
    var base = '{{url_for('index')}}';

</script>


<script type="text/javascript" src="{{ url_for('index') }}static/js/map.js"></script>

{% endblock %}