
{% extends 'base.html' %}

{% block content %}

<div id='progress-intro'>

  <h4><b>Survey Progress Dashboard</b></h4>

</div>

<div id="progress">

  <div id="max-progress">

    <iframe width="642" height="371" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/1m1YuO1V3m2TBOovMZXpYa-KgX-2AtIP8enzeKwY1C18/pubchart?oid=1234326431&amp;format=interactive"></iframe>
  </div>

  <div id="bus-progress">
    <iframe width="642" height="371" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/1m1YuO1V3m2TBOovMZXpYa-KgX-2AtIP8enzeKwY1C18/pubchart?oid=626026501&amp;format=interactive"></iframe>
  </div>

</div>


{% endblock %}